[Locations]
# Path to loadout config from runner
looks_config = javaExampleAppearance.cfg

# Path to module from runner
python_file = javaExample.py

# Name that will be displayed in game
name = Rocket Slayer

[Bot Parameters]
java_executable_path = ../java/rlbotexample/JavaExample.java

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Plads Elsker

# Short description of the bot
description = "A boss-battle bot you can fight against."

# Fun fact about the bot
fun_fact = "It's a dangerous bot!"

# Link to github repository
github = https://github.com/Flyves/Boss-Battle

# Programming language
language = Java